<nav class="nav-panel">
  <a href="#" class="active">统计项目</a>
  <a href="#">班级管理</a>
  <a href="#">设置</a>
</nav>
<div class="main">
  <header>
    <h1>统计项目<a href="new.html" class="pull-right btn btn-primary">创建一个统计项目</a></h1>
    
  </header>
  <p class="no-record">暂无记录</p>
</div>