<div class="pb-map">
  <div class="pb-map-group">
    <div class="each-pb-info">
      <div class="pb-info-target">1</div>
    </div>

    <div class="each-pb-info">
      <div class="pb-info-target">2</div>
    </div>

    <div class="each-pb-info">
      <div class="pb-info-target">3</div>
    </div>

    
  </div>
</div>


