<nav class="nav-panel">
  <a href="#" class="active">统计项目</a>
  <a href="#">班级管理</a>
  <a href="#">设置</a>
</nav>
<div class="main">
  <header>
    <h1>新建统计项目</h1> 
  </header>

  <form method="post" role="form">

    <section class="project-setup">
      <h2>项目metadata设置</h2>
      <hr>
      <div class="form-group">
        <label for="project-name">项目名称</label>
        <input id="project-name" type="text" name="name">
      </div>

      <div class="form-group">
        <label for="class">班级&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp</label>
        <select name="class" id="class">
          <option value="二年级3班">二年级3班</option>
        </select>
        <a href="">+ 添加一个班级</a>
      </div>
    </section>

    <section id="message"></section>

    <section class="exam-setup">
      <h2>试卷详情设置</h2>
      <hr>

      <div class="form-group pb-info-group" id="pb-info-group-1">
        <div class=".pb-info-inputs">
          <label class="pb-info-type">题型
            <select>
              <option value="type-tiankong">填空题</option>
              <option value="type-xuanze">选择题</option>
              <option value="type-wenda">问答题</option>
            </select>
          </label>
          <label class="pb-info-num">
            题号范围
            <input type="text" placeholder="例: 1-9,15,17">
          </label>
          <label class="pb-info-fullscore">
            默认每题分值
            <input type="number" id="here">
          </label>
          <a class="btn gen-btn">生成题号表</a>
        </div>
        
        <div class="pb-map">
        </div>

      </div>

      
      <a id="add-pb-info-group">+ 添加一组题目</a>





      <!-- <div class="form-group">
        <label for="">上传试卷</label>
        <div>
          <input type="file">
        </div>
      </div> -->

    </section>

    <div class="form-group">
      <br>
      <br>
      <div class="col-md-12">
        <a href="standard.html">开始统计</a>
        <button type="submit">保存并退出</button>
      </div>
    </div>

  </form>

</div>