<style>

	td, th{
		padding: 6px 12px;
		text-align: center;	
	}
</style>

<nav class="nav-panel">
  <a href="#" class="active">统计项目</a>
  <a href="#">班级管理</a>
  <a href="#">设置</a>
</nav>
<div class="main">
  <header>
    <h1>2014春季期中 试卷分析</h1> 
  </header>

  <div>
  	<h3>试卷情况统计</h3>
  	<table class="item-statistics">
  	  <thead>
  	  	<th>平均分</th>
  	  	<th>标准差</th>
  	  	<th>得分中位数</th>
  	  	<th>试卷难度</th>
  	  	<th>试卷区分度</th>
  	  </thead>
  	  <tr>
  	  	<td>80</td>
  	  	<td>6</td>
  	  	<td>83</td>
  	  	<td>0.74</td>
  	  	<td>0.6</td>
  	  </tr>
  	</table>
  </div>

  <div>
  	<h3>题目情况统计</h3>
  	<table class="pb-statistics">
  	  <thead>
  	  	<th>题号</th>
  	  	<th>错误人数</th>
  	  	<th>错误率</th>
  	  	<th>难度</th>
  	  	<th>区分度</th>
  	  </thead>
	  <tr id="1">
  	  	<td>1</td>
  	  	<td>30</td>
  	  	<td>0.07</td>
  	  	<td>0.93</td>
  	  	<td>0.85</td>
  	  </tr>
  	  <tr id="2">
  	  	<td>2</td>
  	  	<td>30</td>
  	  	<td>0.07</td>
  	  	<td>0.93</td>
  	  	<td>0.85</td>
  	  </tr>
  	  <tr id="3">
  	  	<td>3</td>
  	  	<td>30</td>
  	  	<td>0.07</td>
  	  	<td>0.93</td>
  	  	<td>0.85</td>
  	  </tr>
  	  <tr id="3.1">
  	  	<td>3.1</td>
  	  	<td>30</td>
  	  	<td>0.07</td>
  	  	<td>0.93</td>
  	  	<td>0.85</td>
  	  </tr>
  	  <tr id="3.2">
  	  	<td>3.2</td>
  	  	<td>30</td>
  	  	<td>0.07</td>
  	  	<td>0.93</td>
  	  	<td>0.85</td>
  	  </tr>
  	</table>
  </div>

  <div>
  	<h3>学生情况统计</h3>
  	<p>全部 &nbsp 1班 &nbsp 2班 &nbsp ... &nbsp n班</p>
  	<table class="student-statistics">
  	  <thead>
  	  	<th>班级</th>
  	  	<th>学号</th>
  	  	<th>分数</th>
  	  	<th>排名</th>
  	  </thead>
  	  <tr id="student-1">
  	  	<td>2班</td>
  	  	<td>8</td>
  	  	<td>142</td>
  	  	<td>1</td>
  	  </tr>
  	  <tr id="student-2">
  	  	<td>1班</td>
  	  	<td>8</td>
  	  	<td>142</td>
  	  	<td>1</td>
  	  </tr>
  	  <tr id="student-3">
  	  	<td>1班</td>
  	  	<td>8</td>
  	  	<td>142</td>
  	  	<td>1</td>
  	  </tr>
  	</table>
  </div>

</div>