<div class="state-panel">
  hahahhahahah
</div>

<div class="main-view">
  <header>
    <h1>第三周数学考试</h1>
  </header>

  <hr>

  <form class="form-inline" method="post" role="form">

    <div class="form-group">
      <label class="control-label" for="student">学生：</label>
      <input id="student" class="form-control" type="text" placeholder="请输入学号或拼音查找" style="width: 300px">
    </div>

    <div class="form-group">
      &nbsp&nbsp&nbsp&nbsp&nbsp
      <label class="control-label" for="score">分数：</label>
      <input id="score" class="form-control" type="number" style="width: 80px">
    </div>

  </form>

  <br>
  <div class="mistake-marker">
    <div><h4>标注错题</h4></div>
    <div>
      <ul class="pb-list">
        <div class="pb-group">
          <li>
            <a>1</a>
          </li>
          <li><a id="bbb">2</a></li>
          <li>
            <a>3</a>
            <div class="popover">
              <div class="arrow"></div>
              <div class="popover-content">
                <a>option one</a>
                <a>option two</a>
                <a>option three</a>
              </div>
            </div>
          </li>
          <li><a>4</a></li>
          <li><a>5</a></li>
          <li><a>6</a></li>
          <li><a>7</a></li>
          <li><a>8</a></li>
          <li><a>9</a></li>
          <li><a>10</a></li>
        </div>
        <div class="pb-group">
          <li><a>11</a></li>
          <li><a>12</a></li>
          <li><a>13</a></li>
          <li><a>14</a></li>
          <li><a>15</a></li>
          <li><a>16</a></li>
          <li><a>17</a></li>
          <li><a>18</a></li>
          <li><a>19</a></li>
          <li><a>20</a></li>
        </div>
      </ul>
    </div>

    


  </div>

</div>
