<div class="state-panel">
  hahahhahahah
</div>

<div class="main-view">
  <header>
    <h1>第三周数学考试</h1>
  </header>

  <hr>

  <form class="form-inline" method="post" role="form">

    <div class="form-group">
      <label class="control-label" for="student">学生：</label>
      <input id="student" class="form-control" type="text" placeholder="请输入学号或拼音查找" style="width: 300px">
    </div>

    <div class="form-group">
      &nbsp&nbsp&nbsp&nbsp&nbsp
      <label class="control-label" for="score">分数：</label>
      <input id="score" class="form-control" type="number" style="width: 80px">
    </div>

  </form>

  <br>
  <div class="mistake-marker">
    <div><h4>标注错题</h4></div>
    <ul class="pb-list">
<!-- group 1 -->
      <div class="pb-group">
        <h4>选择题</h4>
        <li class="each-pb" id="pb-1">
          <div class="pb-target">
            <table>
              <tr>
                <td class="pb-num">1</td>
                <td class="color-indicator">
                </td>
              </tr>
              <tr>
                <td colspan="2" class="score-indicator">
                </td>
              </tr>
            </table>
          </div>
          <div class="popover popover-hide">
            <div class="arrow"></div>
            <div class="popover-content" >
              <a class="each-tag">option one</a>
              <a class="each-tag">option two</a>
              <a class="each-tag">option three</a>
            </div>
          </div>
        </li>

        <li class="each-pb" id="pb-2">
          <div class="pb-target">
            <table>
              <tr>
                <td class="pb-num">2</td>
                <td class="color-indicator">
                </td>
              </tr>
              <tr>
                <td colspan="2" class="score-indicator">
                </td>
              </tr>
            </table>
          </div>
          <div class="popover popover-hide">
            <div class="arrow"></div>
            <div class="popover-content" >
              <a class="each-tag">option one</a>
              <a class="each-tag">option two</a>
              <a class="each-tag">option three</a>
            </div>
          </div>
        </li>

        <li class="each-pb" id="pb-3">
          <div class="pb-target">
            <table>
              <tr>
                <td class="pb-num">3</td>
                <td class="color-indicator">
                </td>
              </tr>
              <tr>
                <td colspan="2" class="score-indicator">
                </td>
              </tr>
            </table>
          </div>
          <div class="popover popover-hide">
            <div class="arrow"></div>
            <div class="popover-content" >
              <a class="each-tag">option one</a>
              <a class="each-tag">option two</a>
              <a class="each-tag">option three</a>
            </div>
          </div>
        </li>

        <li class="each-pb" id="pb-4">
          <div class="pb-target">
            <table>
              <tr>
                <td class="pb-num">4</td>
                <td class="color-indicator">
                </td>
              </tr>
              <tr>
                <td colspan="2" class="score-indicator">
                </td>
              </tr>
            </table>
          </div>
          <div class="popover popover-hide">
            <div class="arrow"></div>
            <div class="popover-content" >
              <a class="each-tag">option one</a>
              <a class="each-tag">option two</a>
              <a class="each-tag">option three</a>
            </div>
          </div>
        </li>

        <li class="each-pb" id="pb-5">
          <div class="pb-target">
            <table>
              <tr>
                <td class="pb-num">5</td>
                <td class="color-indicator">
                </td>
              </tr>
              <tr>
                <td colspan="2" class="score-indicator">
                </td>
              </tr>
            </table>
          </div>
          <div class="popover popover-hide">
            <div class="arrow"></div>
            <div class="popover-content" >
              <a class="each-tag">option one</a>
              <a class="each-tag">option two</a>
              <a class="each-tag">option three</a>
            </div>
          </div>
        </li>

        <li class="each-pb" id="pb-6">
          <div class="pb-target">
            <table>
              <tr>
                <td class="pb-num">6</td>
                <td class="color-indicator">
                </td>
              </tr>
              <tr>
                <td colspan="2" class="score-indicator">
                </td>
              </tr>
            </table>
          </div>
          <div class="popover popover-hide">
            <div class="arrow"></div>
            <div class="popover-content" >
              <a class="each-tag">option one</a>
              <a class="each-tag">option two</a>
              <a class="each-tag">option three</a>
            </div>
          </div>
        </li>

        <li class="each-pb" id="pb-7">
          <div class="pb-target">
            <table>
              <tr>
                <td class="pb-num">7</td>
                <td class="color-indicator">
                </td>
              </tr>
              <tr>
                <td colspan="2" class="score-indicator">
                </td>
              </tr>
            </table>
          </div>
          <div class="popover popover-hide">
            <div class="arrow"></div>
            <div class="popover-content" >
              <a class="each-tag">option one</a>
              <a class="each-tag">option two</a>
              <a class="each-tag">option three</a>
            </div>
          </div>
        </li>

        <li class="each-pb" id="pb-8">
          <div class="pb-target">
            <table>
              <tr>
                <td class="pb-num">8</td>
                <td class="color-indicator">
                </td>
              </tr>
              <tr>
                <td colspan="2" class="score-indicator">
                </td>
              </tr>
            </table>
          </div>
          <div class="popover popover-hide">
            <div class="arrow"></div>
            <div class="popover-content" >
              <a class="each-tag">option one</a>
              <a class="each-tag">option two</a>
              <a class="each-tag">option three</a>
            </div>
          </div>
        </li>
      </div>
<!-- group 2 -->
      <div class="pb-group">
         <h4>填空题</h4>
        <li class="each-pb" id="pb-9">
          <div class="pb-target">
            <table>
              <tr>
                <td class="pb-num">9</td>
                <td class="color-indicator">
                </td>
              </tr>
              <tr>
                <td colspan="2" class="score-indicator">
                </td>
              </tr>
            </table>
          </div>
          <div class="popover popover-hide">
            <div class="arrow"></div>
            <div class="popover-content" >
              <a class="each-tag">option one</a>
              <a class="each-tag">option two</a>
              <a class="each-tag">option three</a>
            </div>
          </div>
        </li>

        <li class="each-pb" id="pb-10">
          <div class="pb-target">
            <table>
              <tr>
                <td class="pb-num">10</td>
                <td class="color-indicator">
                </td>
              </tr>
              <tr>
                <td colspan="2" class="score-indicator">
                </td>
              </tr>
            </table>
          </div>
          <div class="popover popover-hide">
            <div class="arrow"></div>
            <div class="popover-content" >
              <a class="each-tag">option one</a>
              <a class="each-tag">option two</a>
              <a class="each-tag">option three</a>
            </div>
          </div>
        </li>

        <li class="each-pb" id="pb-11">
          <div class="pb-target">
            <table>
              <tr>
                <td class="pb-num">11</td>
                <td class="color-indicator">
                </td>
              </tr>
              <tr>
                <td colspan="2" class="score-indicator">
                </td>
              </tr>
            </table>
          </div>
          <div class="popover popover-hide">
            <div class="arrow"></div>
            <div class="popover-content" >
              <a class="each-tag">option one</a>
              <a class="each-tag">option two</a>
              <a class="each-tag">option three</a>
            </div>
          </div>
        </li>

        <li class="each-pb" id="pb-12">
          <div class="pb-target">
            <table>
              <tr>
                <td class="pb-num">12 +</td>
                <td class="color-indicator">
                </td>
              </tr>
              <tr>
                <td colspan="2" class="score-indicator">
                </td>
              </tr>
            </table>
          </div>
          <div class="popover popover-hide">
            <div class="arrow"></div>
            <div class="popover-content" >
              <a class="each-tag add-tag">Add tag</a>
              <a class="each-tag edit-tag">Edit tag</a>
            </div>
          </div>
        </li>

        <li class="each-pb" id="pb-13">
          <div class="pb-target">
            <table>
              <tr>
                <td class="pb-num">13</td>
                <td class="color-indicator">
                </td>
              </tr>
              <tr>
                <td colspan="2" class="score-indicator">
                </td>
              </tr>
            </table>
          </div>
          <div class="popover popover-hide">
            <div class="arrow"></div>
            <div class="popover-content" >
              <a class="each-tag">option one</a>
              <a class="each-tag">option two</a>
              <a class="each-tag">option three</a>
            </div>
          </div>
        </li>

        <li class="each-pb" id="pb-14">
          <div class="pb-target">
            <table>
              <tr>
                <td class="pb-num">14</td>
                <td class="color-indicator">
                </td>
              </tr>
              <tr>
                <td colspan="2" class="score-indicator">
                </td>
              </tr>
            </table>
          </div>
          <div class="popover popover-hide">
            <div class="arrow"></div>
            <div class="popover-content" >
              <a class="each-tag">option one</a>
              <a class="each-tag">option two</a>
              <a class="each-tag">option three</a>
            </div>
          </div>
        </li>

        <li class="each-pb" id="pb-15">
          <div class="pb-target">
            <table>
              <tr>
                <td class="pb-num">15</td>
                <td class="color-indicator">
                </td>
              </tr>
              <tr>
                <td colspan="2" class="score-indicator">
                </td>
              </tr>
            </table>
          </div>
          <div class="popover popover-hide">
            <div class="arrow"></div>
            <div class="popover-content" >
              <a class="each-tag">option one</a>
              <a class="each-tag">option two</a>
              <a class="each-tag">option three</a>
            </div>
          </div>
        </li>

        <li class="each-pb" id="pb-16">
          <div class="pb-target">
            <table>
              <tr>
                <td class="pb-num">16</td>
                <td class="color-indicator">
                </td>
              </tr>
              <tr>
                <td colspan="2" class="score-indicator">
                </td>
              </tr>
            </table>
          </div>
          <div class="popover popover-hide">
            <div class="arrow"></div>
            <div class="popover-content" >
              <a class="each-tag">option one</a>
              <a class="each-tag">option two</a>
              <a class="each-tag">option three</a>
            </div>
          </div>
        </li>
      </div>
<!-- group 3 -->
      <div class="pb-group">
        <h4>问答题</h4>
        <li class="each-pb has-score" id="pb-17">
          <div class="pb-target">
            <table>
              <tr>
                <td class="pb-num">17</td>
                <td class="color-indicator">
                  <span class="red"></span>
                  <span class="blue"></span>
                  <span class="green"></span>
                  <span class="orange"></span>
                </td>
              </tr>
              <tr>
                <td colspan="2" class="score-indicator">15/15</td>
              </tr>
            </table>
          </div>
          <div class="score-input">
            <input type="text">
          </div>
          <div class="popover popover-hide">
            <div class="arrow"></div>
            <div class="popover-content">
              <a class="each-tag">option one</a>
              <a class="each-tag">option two</a>
              <a class="each-tag">option three</a>
            </div>
          </div>
        </li>

        <li class="each-pb has-score" id="pb-18">
          <div class="pb-target">
            <table>
              <tr>
                <td class="pb-num">18</td>
                <td class="color-indicator">
                  <span class="red"></span>
                  <span class="blue"></span>
                  <span class="green"></span>
                  <span class="orange"></span>
                </td>
              </tr>
              <tr>
                <td colspan="2" class="score-indicator">15/15</td>
              </tr>
            </table>
          </div>
          <div class="score-input">
            <input type="text">
          </div>
          <div class="popover popover-hide">
            <div class="arrow"></div>
            <div class="popover-content">
              <a class="each-tag">option one</a>
              <a class="each-tag">option two</a>
              <a class="each-tag">option three</a>
            </div>
          </div>
        </li>

        <li class="each-pb has-score has-sub-pb" id="pb-19">
          <div class="pb-target">
            <table>
              <tr>
                <td class="pb-num">19n</td>
                <td class="color-indicator">
                  <span class="red"></span>
                  <span class="blue"></span>
                  <span class="green"></span>
                  <span class="orange"></span>
                </td>
              </tr>
              <tr>
                <td colspan="2" class="score-indicator">15/15</td>
              </tr>
            </table>
          </div>
          <div class="score-input">
            <input type="text">
          </div>
          <div class="popover popover-hide">
            <div class="arrow"></div>
            <div class="popover-content">
              <a class="each-tag">option one</a>
              <a class="each-tag">option two</a>
              <a class="each-tag">option three</a>
            </div>
          </div>
        </li>

        <li class="each-pb sub-pb" id="pb-19-1">
          <div class="pb-target">
            <table>
              <tr>
                <td class="pb-num">19.1</td>
                <td class="color-indicator">
                
                </td>
              </tr>
              <tr>
                <td colspan="2" class="score-indicator">15/15</td>
              </tr>
            </table>
          </div>
          <div class="popover popover-hide">
            <div class="arrow"></div>
            <div class="popover-content">
              <a class="each-tag add-tag">Add tag</a>
              <a class="each-tag edit-tag">Edit tag</a>
            </div>
          </div>
        </li>

        <li class="each-pb sub-pb" id="pb-19-2">
          <div class="pb-target">
            <table>
              <tr>
                <td class="pb-num">19.2</td>
                <td class="color-indicator">

                </td>
              </tr>
              <tr>
                <td colspan="2" class="score-indicator">15/15</td>
              </tr>
            </table>
          </div>
          <div class="popover popover-hide">
            <div class="arrow"></div>
            <div class="popover-content">
              <a class="each-tag add-tag">Add tag</a>
              <a class="each-tag edit-tag">Edit tag</a>
            </div>
          </div>
        </li>

        <li class="each-pb has-score has-sub-pb" id="pb-20">
          <div class="pb-target">
            <table>
              <tr>
                <td class="pb-num">20</td>
                <td class="color-indicator">
                  <span class="red"></span>
                  <span class="blue"></span>
                  <span class="green"></span>
                  <span class="orange"></span>
                </td>
              </tr>
              <tr>
                <td colspan="2" class="score-indicator">15/15</td>
              </tr>
            </table>
          </div>
          <div class="score-input">
            <input type="text">
          </div>
          <div class="popover popover-hide">
            <div class="arrow"></div>
            <div class="popover-content">
              <a class="each-tag">option one</a>
              <a class="each-tag">option two</a>
              <a class="each-tag">option three</a>
            </div>
          </div>
        </li>

        <li class="each-pb sub-pb" id="pb-20-1">
          <div class="pb-target">
            <table>
              <tr>
                <td class="pb-num">20.1</td>
                <td class="color-indicator">
                  <span class="red"></span>
                  <span class="blue"></span>
                  <span class="green"></span>
                  <span class="orange"></span>
                </td>
              </tr>
              <tr>
                <td colspan="2" class="score-indicator">15/15</td>
              </tr>
            </table>
          </div>
          <div class="popover popover-hide">
            <div class="arrow"></div>
            <div class="popover-content">
              <a class="each-tag">option one</a>
              <a class="each-tag">option two</a>
              <a class="each-tag">option three</a>
            </div>
          </div>
        </li>

        <li class="each-pb sub-pb" id="pb-20-2">
          <div class="pb-target">
            <table>
              <tr>
                <td class="pb-num">20.2</td>
                <td class="color-indicator">
                  <span class="red"></span>
                  <span class="blue"></span>
                  <span class="green"></span>
                  <span class="orange"></span>
                </td>
              </tr>
              <tr>
                <td colspan="2" class="score-indicator">15/15</td>
              </tr>
            </table>
          </div>
          <div class="popover popover-hide">
            <div class="arrow"></div>
            <div class="popover-content">
              <a class="each-tag">option one</a>
              <a class="each-tag">option two</a>
              <a class="each-tag">option three</a>
            </div>
          </div>
        </li>

        <li class="each-pb sub-pb" id="pb-20-3">
          <div class="pb-target">
            <table>
              <tr>
                <td class="pb-num">20.3</td>
                <td class="color-indicator">
                  <span class="red"></span>
                  <span class="blue"></span>
                  <span class="green"></span>
                  <span class="orange"></span>
                </td>
              </tr>
              <tr>
                <td colspan="2" class="score-indicator">15/15</td>
              </tr>
            </table>
          </div>
          <div class="popover popover-hide">
            <div class="arrow"></div>
            <div class="popover-content">
              <a class="each-tag">option one</a>
              <a class="each-tag">option two</a>
              <a class="each-tag">option three</a>
            </div>
          </div>
        </li>

        <li class="each-pb has-score" id="pb-21">
          <div class="pb-target">
            <table>
              <tr>
                <td class="pb-num">21</td>
                <td class="color-indicator">
                  <span class="red"></span>
                  <span class="blue"></span>
                  <span class="green"></span>
                  <span class="orange"></span>
                </td>
              </tr>
              <tr>
                <td colspan="2" class="score-indicator">15/15</td>
              </tr>
            </table>
          </div>
          <div class="score-input">
            <input type="text">
          </div>
          <div class="popover popover-hide">
            <div class="arrow"></div>
            <div class="popover-content">
              <a class="each-tag">option one</a>
              <a class="each-tag">option two</a>
              <a class="each-tag">option three</a>
            </div>
          </div>
        </li>

        <li class="each-pb has-score" id="pb-22">
          <div class="pb-target">
            <table>
              <tr>
                <td class="pb-num">22</td>
                <td class="color-indicator">
                  <span class="red"></span>
                  <span class="blue"></span>
                  <span class="green"></span>
                  <span class="orange"></span>
                </td>
              </tr>
              <tr>
                <td colspan="2" class="score-indicator">15/15</td>
              </tr>
            </table>
          </div>
          <div class="score-input">
            <input type="text">
          </div>
          <div class="popover popover-hide">
            <div class="arrow"></div>
            <div class="popover-content">
              <a class="each-tag">option one</a>
              <a class="each-tag">option two</a>
              <a class="each-tag">option three</a>
            </div>
          </div>
        </li>

      </div>
      
    </ul>

    


  </div>

</div>
