<div class="state-panel">
  hahahhahahah
</div>

<div class="main-view">
  <header>
    <h1>第三周数学考试</h1>
  </header>

  <hr>

  <form class="form-inline" method="post" role="form">

    <div class="form-group">
      <label class="control-label" for="student">学生：</label>
      <input id="student" class="form-control" type="text" placeholder="请输入学号或拼音查找" style="width: 300px">
    </div>

    <div class="form-group">
      &nbsp&nbsp&nbsp&nbsp&nbsp
      <label class="control-label" for="score">分数：</label>
      <input id="score" class="form-control" type="number" style="width: 80px">
    </div>

  </form>

  <br>
  <div class="mistake-marker">
    <div><h4>标注错题</h4></div>
    <div>
      <ul class="pb-list">
        <div class="pb-group">
          <li class="each-pb" id="pb-1">
            <div class="pb-target">
              <table>
                <tr>
                  <td class="pb-num">1</td>
                  <td class="color-indicator">
                    <span class="red"></span>
                    <span class="blue"></span>
                    <span class="green"></span>
                    <span class="orange"></span>
                  </td>
                </tr>
                <tr>
                  <td colspan="2" class="score-indicator">15/15</td>
                </tr>
              </table>
            </div>
            <div class="popover popover-hide">
              <div class="arrow"></div>
              <div class="popover-content">
                <a class="each-tag">option one</a>
                <a class="each-tag">option two</a>
                <a class="each-tag">option three</a>
              </div>
            </div>
          </li>

          <li class="each-pb" id="pb-2">
            <div class="pb-target">
              <table>
                <tr>
                  <td class="pb-num">2</td>
                  <td class="color-indicator">
                  </td>
                </tr>
                <tr>
                  <td colspan="2" class="score-indicator">
                  </td>
                </tr>
              </table>
            </div>
            <div class="popover popover-hide">
              <div class="arrow"></div>
              <div class="popover-content" >
                <a class="each-tag">option one</a>
                <a class="each-tag">option two</a>
                <a class="each-tag">option three</a>
              </div>
            </div>
          </li>
        </div>
        
      </ul>
    </div>

    


  </div>

</div>
