<div class="pb-list" style="position: absolute; top: 200px; left: 200px">
  <li class="test" id="button1">
    <a id="aaa">1</a>
    <div class="popover popover-hide">
      <div class="arrow"></div>
      <div class="popover-content" >
        <a>option one</a>
        <a>option two</a>
        <a>option three</a>
      </div>
    </div>
  </li>
  <li class="test" id="button2">
    <a id="bbb">2</a>
    <div class="popover popover-hide">
      <div class="arrow"></div>
      <div class="popover-content" >
        <a>option one</a>
        <a>option two</a>
        <a>option three</a>
      </div>
    </div>
  </li>
  <li class="test" id="button12">
    <a id="ccc">12</a>
    <div class="popover popover-hide">
      <div class="arrow"></div>
      <div class="popover-content" >
        <a>option one</a>
        <a>option two</a>
        <a>option three</a>
      </div>
    </div>
  </li>
</div>