<ul class="pb-list" style="position: absolute; top: 200px; left: 200px">

  <li class="each-pb" id="pb-1">
    <a>1</a>
    <div class="popover popover-hide">
      <div class="arrow"></div>
      <div class="popover-content" >
        <a>option one</a>
        <a>option two</a>
        <a>option three</a>
      </div>
    </div>
  </li>

  <li class="each-pb" id="pb-2">
    <a>2</a>
      <div class="pb-info">
        +
      </div>
  </li>

  <li class="each-pb" id="pb-12">
    <a>12</a>
    <div class="popover popover-hide">
      <div class="arrow"></div>
      <div class="popover-content" >
        <a>option one</a>
        <a>option two</a>
        <a>option three</a>
      </div>
    </div>
  </li>

</ul>