/* ==========================================================================
   Vincent's custom styles, 
   large part of which learned from Bootstrap and h5bp.
   ========================================================================== */

// First to show respect to h5bp
@import "h5bp-custom.scss";
// Here comes in our bootstrap takeaways
@import "components.scss";
// Let's talk Typography
@import "typography.scss";

body {
  min-width: 1024px;
  position: relative;
}

.row {
  margin-right: -15px;
  margin-left: -15px;
  &:before, &:after {
    display: table;
    content: " ";
  }
  &:after{
    clear: both;
  }
}

