html,
button,
input,
select,
textarea {
    color: $font-color;
}

html {
    font-size: $base-font-size;
    line-height: $line-height;
}

a {
  text-decoration: none;
  color: $link-color;
  &:hover,
  &:focus {
    color: $link-hover-color;
    text-decoration: underline;
  }
  &:focus {
    outline: thin dotted;
    outline: 5px auto -webkit-focus-ring-color;
    outline-offset: -2px;
  }
}
