html,
button,
input,
select,
textarea {
    color: $font-color;
}

html {
    font-size: $font-size;
    line-height: $line-height;
    font-family: 'Helvetica Neue',Arial,"Hiragino Sans GB",'Microsoft YaHei',sans-serif;
}

a {
  text-decoration: none;
  color: $link-color;
  &:hover,
  &:focus {
    color: $link-hover-color;
    text-decoration: underline;
  }
  &:focus {
    outline: thin dotted;
    outline: 5px auto -webkit-focus-ring-color;
    outline-offset: -2px;
  }
}

h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
}